.container-3{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   text-align: center;
}

    .container-box-3{
        flex-basis:12% ;
        
        
    }
    .screen-shot{
        width: 400px;
    }