
 .container-2 div{
   text-align:center ;
  }
   .container-box-2{
     flex-basis: 27%;
   } 
   
   @media(min-width:468px){
    .container-2{
      display: flex;
      justify-content: space-around;
    }
   }


    
    
  