 .container-1{
   box-sizing: border-box;
   text-align: center;
 }

.container-1 div{
    padding: 7px;
    text-align: center;
    }
    li{list-style: none;}

    a{
      text-decoration: none;
      flex-direction: row;
      color:rgb(223, 189, 189);
    }
    
    .box-1{
    flex: 1;
    order: 2;
    }
    .box-2{
      flex: 1;
      order: 1;
    }
    .box-3{
      flex: 1;
      order: 3;
    }

    @media(min-width:468px){
      .container-1{
        display: flex;
      }ul{
        display: flex;
        justify-content: space-between;
      }
      
      
    }  