.pict{
    border-radius: 10px;  
}

a{
  text-decoration: none;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center ;
   margin: 20px;
   border: 1px solid whitesmoke;
  
}
.p-change{
  flex-basis: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;

}
@media(max-width : 768px){
  .contact{
   display: flex;
  flex-direction: column;
  }
}